html, body {
    height: 100%;
    margin: 0;
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgb(251, 255, 1) 0%,  rgba(243, 0, 0, 0.507) 100% );  
    /* background-color: #FBAB7E;
    background-image: linear-gradient(360deg, #4f69fc 0%, #fc694f 60%, #fc9458 80%, #F7CE68 100%);   */
}

p {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}

.selectdiv:after {
    content: '\f078';
    font: normal normal normal 17px/1 FontAwesome;
    color: #0ebeff;
    right: 11px;
    top: 6px;
    height: 34px;
    padding: 15px 0px 0px 8px;
    border-left: 1px solid #0ebeff;
    position: absolute;
    pointer-events: none;
}

#count-string {
    padding-top: 28vh;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 0px;
    text-align: center;
    font-family: "Syne Mono", sans-serif;
    font-size: large;
}

#your-restaurant-picked {
    font-size: 80px;
    margin: 40px;
    margin-bottom: 40px;
    text-align: center;
    padding-top: 6px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: "Bungee Shade", sans-serif;   
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-align: -webkit-center;
    text-align: -moz-center;
    text-align-last: center;
    background-color: black;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#restaurant, #distance {
    border-radius: 8px;
    margin-top: 10px;
    padding: 8px 6px;
    width: 16%;
    background-image: linear-gradient(#434343 0%, black 100%);
    color: white;
    text-align: center;
    direction: ltr;
    border: none;
    font-family: "Press Start 2P", sans-serif;
    font-size: xx-small;
    box-shadow: 0 0 2px 1px rgba(145, 145, 145, 0.5); 
}

option {
    text-align: center;
}

#restaurant-chooser {
    color: rgba(255, 255, 255, 0.8);
    background-image: linear-gradient(#434343 0%, black 100%);
    border: solid 1px rgb(53, 53, 53);
    padding: 16px 14px;
    margin-top: 16px;
    margin-bottom: 10%;
    border-radius: 10px;
    font-weight: normal;
    font-family: "Press Start 2P", sans-serif;
    color: white;
    text-transform: uppercase;
    text-align: center;
    transition: all 0.1s ease-in-out;
    animation-name: glow;
    animation-duration: 2.2s;
    animation-iteration-count: infinite;
    width: 30%;
}

@keyframes glow {
    0% {box-shadow: 0 0 25px 5px rgb(255, 123, 0); }
    50% {box-shadow: none;}
    100% {box-shadow: 0 0 25px 5px rgb(255, 123, 0); }
}
  
#restaurant-chooser:hover {
    color: rgba(255, 255, 255, 1);
    transform: scale(1.04);
}

@media (max-width: 1000px) {
    #your-restauarant-picked {
        font-size: 70px;
    }

    #restaurant-chooser {
        width: 50%;
        padding: 10px;
    }

    #restaurant {
        width: 30%
    }
}

@media (max-width: 700px) {
    #your-restaurant-picked {
        font-size: 50px;
        margin: 10px;
    }

    #count-string {
        padding-top: 32vh;
    }

    #restaurant-chooser {
        width: 76%;
        padding: 10px;
    }

    #restaurant {
        width: 60%
    }
}

@media (max-width: 500px) {

    #your-restaurant-picked {
        font-size: 36px;
        margin: 10px;
    }
}